{
  "presets": [
    ["es2015", { "modules": false }],
    "react",
    "stage-2"
  ],
  "plugins": [
    "transform-react-jsx-img-import",
    ["import", { "libraryName": "antd", "style": "css" }]
  ],
  "env": {
    "development": {
      "plugins": ["react-hot-loader/babel"]
    },
    "test": {
      "plugins": ["transform-es2015-modules-commonjs"]
    },
    "e2e": {
      "plugins": [
        "add-module-exports",
        "transform-es2015-modules-commonjs"
      ]
    }
  }
}
