@import '../../../mixins';

.hero {
  @include page;
  align-items: center;
  background: url('../../../images/fort-march-for-15.jpg') no-repeat center / cover;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  padding-left: 100px;
  position: relative;
  width: 100%;
}
