@import '../../../theme';
@import '../../../mixins';

.platform {
  @include page;
  @include content;

  h2 {
    @include header;
  }

  ul {
    margin: auto;
    max-width: 800px;
    padding-top: 24px;
  }

  li {
    font-size: 24px;
    max-width: 800px;
    padding: 16px 0;
  }

  i {
    color: $blue;
    margin-right: 20px;
  }
}
