@import '../../../theme';
@import '../../../mixins';

.vote-info {
  @include page;
  @include content;

  h2 {
    @include header;
  }

  .buttons {
    margin-top: 60px;
    text-align: center;

    .button {
      @include button;
      font-size: 16px;
      margin: 10px;
      padding: 16px;
      width: 200px;

      i {
        font-weight: 400;
        margin-right: 10px;
      }
    }
  }

  .hashtag {
    font-size: 40px;
    font-weight: 500;
    letter-spacing: 2px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 12px;
    max-width: 800px;
    padding-top: 40px;
    text-align: center;

    i {
      color: $red;
      font-weight: 400;
    }

    span {
      color: $blue;
    }
  }

  .table {
    font-size: 24px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    max-width: 800px;

    table {
      width: 100%;
    }
  }
}
